* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: linen;
  margin: 0;
}

body {
  background-color: cadetblue;
}

h1 {
  padding-bottom: 10px;
}

/*Hover Effects*/
a:hover {
  color: grey;
}

/*Navigationsleiste*/
.nav {
  position: relative;
  top: 50px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 20px;
}

/*Banner in Grau*/
.welcome {
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: grey;
  text-align: center;
  width: 100%;
}

/*Textbox auf index*/
.textboxwelcome {
  position: relative;
  margin-top: 50px;
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
  width: 100vw;
}

/*Bild Index*/
.pic {
  max-width: 100vw;
  height: 65vh;
  padding-left: 0%;
  margin-left: 0%;
  padding-top: 10px;
}
/*Text auf aboutme*/
.whoiamtext {
  position: relative;
  margin-top: 50px;
  margin-left: 20px;
  text-align: center;
  font-size: 20px;
}

/*Bild aboutme*/
.picbored {
  max-width: 100vw;
  padding-left: 0%;
  margin-left: 0%;
  padding-top: 60px;
}

/*Blogposts*/
.blogpost {
  margin-left: 40px;
  margin-top: 40px;
  margin-right: 40px;
  font-size: 20px;
}
